<h1>My Blog</h1
  <div>
    <% @posts.each do |post|  %>
      <h2><%= link_to post.title, post %></h2>
      <p><%= post.content %></p>
      <p><%= link_to "Edit", edit_post_path(post) %></p>
      <hr>
    <% end %>
      <p><%= link_to "Post a New Article", new_post_path %></p>
  </div>
